<footer class="footer">
    <div class="footer-info">
        <a href="index.html" class="footer-logo"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/logo.svg" alt="footer-logo"></a>
        <p class="footer-content">若有數位產品設計和開發相關問題<br/>歡迎填寫表單，或直接與我聯絡！</p>
        <a href="mailto:service@hexschool.com" class="footer-address">service@hexschool.com</a>
    </div>
    <div class="footer-btns">
        <a href="#" class="footer-btn black-btn" type="botton">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/list.svg" alt="list-icon">
            <p class="text-white">填寫表單</p>
        </a>
        <a href="#" class="footer-btn" type="botton">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/instagram.svg" alt="ig-icon">
            <p>hexschool_demo</p>
        </a>
        <a href="#" class="footer-btn" type="botton">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/facebook.svg" alt="facebook-icon">
            <p>hexschoolTW</p>
        </a>
    </div>
</footer>