<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>首頁</title>
  </head>
  <body>
    <div class="container">
      <%- include('./layout/header'); -%>

      <!-- 首頁banner區塊 -->
      <div class="banner">
        <div class="row flex-lg-row flex-md-column-reverse flex-column-reverse align-items-center g-0">
          <div class="col col-lg-5 banner-content">
            <h2 class="banner-title">Hi！我是 Noel</h2>
            <p class="banner-body">具有 10 年經驗的 <br class="d-block d-md-none"/> <span>資深 UI 設計師</span>兼<span>前端工程師  <br class="d-block d-md-none"/> </span><br class="d-none d-md-block"/>技術雙修並行， <br class="d-block d-md-none"/>熱衷於優化使用者的網頁體驗</p>
            <p class="banner-tag">WEB DEVELOPMENT / BRANDING / UI / UX / APP DESIGN</p>
            <div class="banner-icons d-flex">
              <a href="#" class="icon"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/instagram.svg" alt="ins-icon"></a>
              <a href="#" class="icon"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/facebook.svg" alt="fb-icon"></a>
              <a href="#" class="icon"><img src="/assets/images/youtube.png" alt="yt-icon"></a>
            </div>
          </div>
          <div class="col col-lg-7 banner-image ">
            <img class="banner-web-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-lg.png?raw=true" alt="banner-hero-lg">
            <img class="banner-phone-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-sm.png?raw=true" alt="">
          </div>
        </div>
      </div>

      <div class="title-part mt-5 mt-lg-0">
        <img src="/assets/images/title deco-left-lg.png" alt="deco-left">
        <h3 class="mx-3 fw-bold">作品介紹</h3>
        <img src="/assets/images/title deco-right-lg.png" alt="deco-right">
      </div>

      <!-- 首頁作品介紹區塊 -->
      <div class="products">
        <div class="galaxy">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1.png?raw=true" alt="homepage-work1" class="galaxyweb img-fluid">
          <div class="box-intro">
            <div class="box-content">
              <h4 class="box-title">星際旅行訂票平台</h4>
              <p>悠遊宇宙的夢想，從這裡開始實現</p>
              <ul class="box-tags">
                <li class="tag"><a href="#" class="text-decoration-none text-dark">網頁設計</a></li>
                <li class="tag"><a href="#" class="text-decoration-none text-dark">響應式設計</a></li>
                <li class="tag"><a href="#" class="text-decoration-none text-dark">Bootstrap</a></li>
              </ul>
            </div>
            <a href="#" type="button" class="box-btn mx-auto">
              <p class="text-white">完整介紹<img src="/assets/images/Vector.png" alt="arrow-forward"></p>
            </a>
          </div>
        </div>

        <!-- 手機版顯示 -->
        <div class="phone-box d-block d-md-none d-lg-none">
          <div class="phone-content">
            <h4 class="phone-title">星際旅行訂票平台</h4>
            <p class="fs-6">悠遊宇宙的夢想，從這裡開始實現</p>
            <ul class="phone-tags">
              <li class="tag"><a href="#" class="text-decoration-none text-dark">網頁設計</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">響應式設計</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">Bootstrap</a></li>
            </ul>
          </div>
          <a href="#" type="button" class="phone-btn mx-auto align-items-center">
            <p class="text-white" >完整介紹<img class="ms-2" src="/assets/images/Vector.png" alt="arrow-forward"></p>
          </a>
        </div>

        <div class="phoneweb">
          <div class="phoneweb-bg position-relative">
            <div class="box-intro d-none d-md-block d-lg-block position-absolute posit-box">
              <div class="box-content">
                <h4 class="box-title">理財APP</h4>
                <p>連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                <ul class="box-tags">
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">APP設計</a></li>
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">iOS</a></li>
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">React</a></li>
                </ul>
              </div>
              <a href="#" type="button" class="box-btn mx-auto">
                <p class="text-white">完整介紹<img src="/assets/images/Vector.png" alt="arrow-forward"></p>
              </a>
            </div>
          </div>
        </div>

        <!-- 手機版顯示 -->
        <div class="phone-box d-block d-md-none d-lg-none">
          <div class="phone-content">
            <h4 class="phone-title">理財APP</h4>
            <p class="fs-6">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
            <ul class="phone-tags">
              <li class="tag"><a href="#" class="text-decoration-none text-dark">APP設計</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">iOS</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">React</a></li>
            </ul>
          </div>
          <a href="#" type="button" class="phone-btn mx-auto align-items-center">
            <p class="text-white" >完整介紹<img class="ms-2" src="/assets/images/Vector.png" alt="arrow-forward"></p>
          </a>
        </div>


        <div class="medicalweb mb-5">
          <div class="phoneweb-bg ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3.png?raw=true" alt="homepage-work1" class="galaxyweb img-fluid">
            <div class="box-intro">
              <div class="box-content">
                <h4 class="box-title">醫美診所官網</h4>
                <p>永保青春的秘密，從粹究開始</p>
                <ul class="box-tags">
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">網頁設計</a></li>
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">響應式設計</a></li>
                  <li class="tag"><a href="#" class="text-decoration-none text-dark">ＷordPress</a></li>
                </ul>
              </div>
              <a href="#" type="button" class="box-btn mx-auto">
                <p class="text-white">完整介紹<img src="/assets/images/Vector.png" alt="arrow-forward"></p>
              </a>
            </div>
          </div>
          
        </div>

        <!-- 手機版顯示 -->
        <div class="phone-box d-block d-md-none d-lg-none">
          <div class="phone-content">
            <h4 class="phone-title">醫美診所官網</h4>
            <p class="fs-6">永保青春的秘密，從粹究開始</p>
            <ul class="phone-tags">
              <li class="tag"><a href="#" class="text-decoration-none text-dark">網頁設計</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">響應式設計</a></li>
              <li class="tag"><a href="#" class="text-decoration-none text-dark">ＷordPress</a></li>
            </ul>
          </div>
          <a href="#" type="button" class="phone-btn mx-auto align-items-center">
            <p class="text-white" >完整介紹<img class="ms-2" src="/assets/images/Vector.png" alt="arrow-forward"></p>
          </a>
        </div>
      </div>

      <!-- 首頁服務項目區塊 -->
      <div class="service">
        <div class="title-par">
          <img src="/assets/images/title deco-left-lg.png" alt="deco-left">
          <h3 class="mx-3 fw-bold">服務項目</h3>
          <img src="/assets/images/title deco-right-lg.png" alt="deco-right">
        </div>
        <ul class="service-menu">
          <li class="service-item">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/service-item-visual.svg" alt="service-item-visual">
            <p>平面設計</p>
          </li>
          <li class="service-item">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/service-item-ui.svg" alt="service-item-ui">
            <p>UI 設計</p>
          </li>
          <li class="service-item">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/service-item-html%26css.svg" alt="service-item-html&css">
            <p>切版服務</p>
          </li>
          <li class="service-item">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/service-item-front-end.svg" alt="service-item-front-end">
            <p>前端開發</p>
          </li>
        </ul>

        <h4 class="service-ques">想要合作或瞭解更多？</h4>
        <a href="#" class="process">
          <p>詳細內容與合作流程</p>
          <img src="/assets/images/Vector.png" alt="Vector">
        </a>
      </div>

      <div class="article">
        <div class="title-par">
          <img src="/assets/images/title deco-left-lg.png" alt="deco-left">
          <h3 class="mx-3 fw-bold">精選文章</h3>
          <img src="/assets/images/title deco-right-lg.png" alt="deco-right">
        </div>

        <!-- 首頁精選文章 輪播區塊 -->
        <div class="swiper mySwiper  d-none d-md-block d-lg-block">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image1.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2024/02/10</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image2.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2023/11/20</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image3.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2023/10/18</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image4.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2024/02/10</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image5.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2024/02/10</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image6.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2024/02/10</span>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image7.png?raw=true" alt="article-image1">
              <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
              <div class="tags">
                <p>UI/UX 新知</p>
                <span>2024/02/10</span>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <!-- 首頁精選文章 手機版顯示 -->
        <div class=" d-block d-md-none d-lg-none">
          <ul class="phone-sw">
            <li class="phone-sw-item">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image1.png?raw=true" alt="article-image1">
                <h5 class="swiper-title">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開 (上)</h5>
                <div class="tags d-flex justify-content-between">
                  <p>UI/UX 新知</p>
                  <span>2024/02/10</span>
                </div>
            </li>
            <li class="phone-sw-item">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image2.png?raw=true" alt="article-image1">
                <h5 class="swiper-title">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (下)</h5>
                <div class="tags d-flex justify-content-between">
                  <p>UI/UX 新知</p>
                  <span>2024/02/10</span>
                </div>
            </li>
            <li class="phone-sw-item">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/article-image3.png?raw=true" alt="article-image1">
                <h5 class="swiper-title">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南 (上)</h5>
                <div class="tags d-flex justify-content-between">
                  <p>UI/UX 新知</p>
                  <span>2024/02/10</span>
                </div>
            </li>
          </ul>
          <a href="#" type="button" class="readmore">
            <p>更多文章</p>
            <img src="/assets/images/Vector.png" alt="Vector">
          </a>
        </div>

      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
